*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(245, 248, 255);
}
.container{
    width: 1240px;
}
/* font style */
.inter{
    font-family:"Inter", sans-serif;
}
.noto{
    font-family: "Noto Serif", serif;
}
/* shared style */
.gray{
    color: #8987A1;
    font-size: 22px;
    line-height: 27px;
    
}
.orange{
    color: #E95A08;
}
/* navbar style */


nav{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.nav-item{
    /* border: 2px solid red; */
    width: 415px;
}

.nav-item ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item li{
    list-style: none;
}

/* fresh flower style */
.fresh-flower{
    /* border: 2px solid red; */
    margin: 120px auto;
    width: 1240px;
    height: 465px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    

}
.fresh-flower-left{
    width: 50%;
    /* padding-top: 150px;
    padding-bottom: 0%; */
}
.fresh-flower-left p{
    width: 570px;
    height: 110px;
}
.fresh-flower-right{
    width: 50%;
}
.fresh-flower-img{
    width:570px;
    height: 355px;
width: 100%;
padding: 0;
display: block;
 
}
.fresh-flower-title{
    font-size: 65px;
    font-weight: 700;
}

/* our plants style */
.our-plant-title{
    width: 1240px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */

}
.our-plant-title h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}
.our-plant-title p{
    
}

/* card container style */
.card-container{
    width: 1240px;
    margin: 50px auto 0 auto;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 20px;

}
.card-description{
    text-align: center;
    padding: 20px 0;
}
.card{
    /* border: 2px solid red; */
}
.card-img{
    width: 100%;
}
.cart-btn{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 15px 0;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

/* badge style */
.badge{
    /* border: 2px solid green; */
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transform: translateX(-120px) translateY(180px);
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25) );

    
}
.badge-img{
    width: 100%;
    height: 100%;
} 



    /* flower lover style start */
.flower-lover-container{
    /* border: 2px solid red; */
    width: 1240px;
    height: 600px;
    margin: 0px  auto 0 auto;
    /* margin-top: 0%; */
    display: flex;
    gap:100px;
}
.flower-lover-left{
    /* border: 2px solid blue; */
    width: 640px;
}
.flower-lover-right{
    /* border: 2px solid green; */
     padding: 40px 0;
     
}
.flower-lover-description li { 
padding-top: 30px;
}
.flower-lover-description ul{
    padding-left: 40px;
    /* text-align:justify; */
}
.flower-lover-title{
    font-size: 50px;
    font-weight: 700;
}
