*{
    padding: 0;
    margin: 0;

}
.hidden{
    /* visibility: hidden; */
}
body{
    background-color: rgb(245, 248, 255);
}
.container{
   max-width:1240px;

}
/* font style */

.inter{
    font-family:"Inter", sans-serif;
}
.noto{
    font-family: "Noto Serif", serif;
}
/* shared style */

.gray{
    color: #8987A1;
    font-size: 22px;
    line-height: 27px;
    
}
.orange{
    color: #E95A08;
}
/* navbar style */


nav{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.nav-item{
    /* border: 2px solid red; */
    width: 415px;
}

.nav-item ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item li{
    list-style: none;
}

/* fresh flower style */
.fresh-flower{
    /* border: 2px solid red; */
    margin: 120px auto;
    width: 1240px;
    height: 465px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    

}
.fresh-flower-left{
    width: 50%;
    /* padding-top: 150px;
    padding-bottom: 0%; */
}
.fresh-flower-left p{
    width: 570px;
    height: 110px;
}
.fresh-flower-right{
    width: 50%;
}
.fresh-flower-img{
    /* width:570px; */
    height: 355px;
width: 100%;
padding: 0;
display: block;
 
}
.fresh-flower-title{
    font-size: 65px;
    font-weight: 700;
}

/* our plants style */
.our-plants{
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-plant-title{
    max-width: 1240px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */

}
.our-plant-title h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}


/* card container style */
.card-container{
    max-width: 1240px;
    margin: 50px auto 0 auto;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 20px;

}
.card-description{
    text-align: center;
    padding: 20px 0;
}
.card{
    /* border: 2px solid red; */
}
.card-img{
    width: 100%;
}
.cart-btn{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 15px 0;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

/* badge style */
.badge{
    /* border: 2px solid green; */
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transform: translateX(-120px) translateY(180px);
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25) );

    
}
.badge-img{
    width: 100%;
    height: 100%;
} 



    /* flower lover style start */

.flower-lover-container{
    max-width: 1240px;
    min-height: 600px;
    margin: 0px  auto 0 auto;
    display: flex;
    gap:100px;
}
.flower-lover-left{ 
    max-width: 640px;
}

.flower-lover-right{
     padding: 40px 0;
     
}
.flower-lover-description li { 
padding-top: 30px;
}
.flower-lover-description ul{
    padding-left: 40px;

}
.flower-lover-title{
    font-size: 50px;
    font-weight: 700;
}

/* latest style */
.latest{
max-width: 1240px;
    /* border: 2px solid red; */
margin: 130px auto 120px auto;
}
.latest-title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.latest-paragraph{
    text-align: center;
    margin-top: 25px;
}

/* zabo plant style */



.zabo-plant{
    max-width:1240px;
    height: 430px;
    display: flex;
    gap: 20px;
    margin: 0 auto 120px auto;

}
.left-img{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-img-1{
    background-image: url('../assets/deal-bloom.png');  
    /* border: 2px solid green; */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    width: 100%;
    height: 50%;
    text-align: center;
    align-content: center;
    

}
.left-img-2{
    background-image: url('../assets/deal-ana.png');
    /* border: 2px solid blue; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    border-radius: 22px;
    text-align: center;
    align-content: center;  
}
.right-img{
    background-image: url('../assets/deal-zabo.png');
    /* border: 2px solid rgb(114, 10, 114); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    width: 100%;
    display: block;
    text-align: center;
    align-content: center;
    
}
.left-img h1{
font-size: 30px;
color: aliceblue;
}
.left-img h2{
font-size: 20px;
color: aliceblue;
}
.right-img h1{
    font-size: 40px;
    color: aliceblue;
}
.right-img h2{
    font-size: 30px;
    color: aliceblue;
}
/* colorful bunch */

 .join-container {
            background-image: url('../assets/news-letter-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 1536px;
            height: 450px;
            margin-bottom: 50px;
        }

        .join {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            padding-top: 160px;
            
        }
        .join-title{
            color: aliceblue;
            font-size: 50px;
            font-weight: 700;
        }

        .form {
        /* border: 2px solid red; */
            display: flex;
            flex-direction: row;
            gap: 0;
            width: 830px;
            height: 50px;
            padding-top:20px;
            

        }

        .form input[type="email"] {
            width: 70%;
            padding: 20px;
            

        }

        .form input[type="submit"] {
            width: 30%;
            color: aliceblue;
            background-color:#E95A08;
            border: none;
            height: 100%;
        }
        
        
        /* footer style */

        .footer-part{
            max-width: 1200px;
            max-height: 250px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 20px;
            margin: 0 auto 50px auto;
        }

        .footer-column1{
            width: 100%;
        }

        .footer-column2 ul{
            width: 100%;
            height: 100%;
        display: grid;
        justify-items: center;
        grid-template-rows: repeat(5,1fr);
        row-gap: 20px;
        font-size: 18px;

        }
        .footer-column2 li{
            list-style: none;
        }

          .footer-column3 li{
            list-style: none;
        }

        .footer-column3 ul{
            width: 100%;
            height: 100%;
        display: grid;
        justify-items: center;
        grid-template-rows: repeat(5,1fr);
        row-gap: 20px;
        font-size: 18px;
        }
        .footer-column4-logo{
            display: flex;
            flex-direction: row-reverse;
            gap: 30px;
        }

        /* responsive for mobile */
        @media screen and (max-width:576px) {
            /* navbar responsive */
            *{
                box-sizing: border-box;
            }
            body{
                max-width:576px;
                overflow-x: hidden;
                
                margin: auto;
                
            }
            .hidden{
                visibility: hidden;
            }
           nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
           }
           .fresh-flower{
           display:grid;
           grid-template-columns: repeat(1,1fr);
           
           
           }
           .fresh-flower-img{
            margin-bottom: 50px;
           }
            /* our-plants-card respons */
            .our-plants-title h1 p{
                text-align: center;
            }
.our-plants{
    margin-top: 50px;
}
                
            .card-container{
                max-width: 576px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
/* flower lover container response */
            .flower-lover-container{
                display: flex;
                flex-direction: column;
            }


            /* zabo plant response */

             .zabo-plant{
                display: grid;
                grid-template-rows: repeat(1,1fr);
    
             }
             .left-img{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                
             }
             .left-img-1{
                height:150px;
        
                
             }
             .left-img-2{
                height:150px;
                
             }
             .right-img{
                height: 150px;
             }
/* form reponse */
             .form input[type="email"] {
            width: 60%;
            
        }
 .form input[type="submit"] {
            width:30%;
            color: aliceblue;
            background-color:#E95A08;
            border: none;
        
            padding:21px;
        }
        .join-title{
            text-align: center;
        }
.form, input{
    width: 500px;
    
}
            /* footer response */
            .footer-part{
             display:flex;
            flex-direction: column;
            justify-items:flex-start;
            align-items:flex-start;
           
            }
           

           
            
        }





